.app-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-part {
  align-self: flex-start;
  width: 50%;
  margin: 0 50px;
}

.right-part {
  align-self: flex-start;
  width: 50%;
  margin: 0 50px;
}
